<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
</head>
<body>
    <header>
        <h1>Node JS - Express</h1>
        <h2>Handlebars</h2>
        <hr>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/post">blogpost</a>
    </nav>

    {{{body}}}

    <footer>
        <hr>
        <p>
            <strong>Fernando Alves</strong> <br>
            lfalvespe@gmail.com
        </p>
    </footer>
</body>
</html>