<div class="about">
    <h2>ABOUT</h2>
    
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora nam molestiae tempore ex ea sunt corrupti, laboriosam quis velit delectus, autem tenetur modi sapiente repellendus accusamus cum consequatur libero.
        Commodi sequi eum adipisci ex temporibus aspernatur animi in molestiae corporis est fuga, consectetur, laborum harum suscipit repellendus quia, beatae dolor ipsam rerum? Numquam voluptas, repudiandae placeat sed ipsa maxime.
        Quae quis, omnis error quidem esse ipsum laboriosam eos aliquam repudiandae sequi rem rerum blanditiis quisquam minus suscipit officiis voluptate accusamus odio cum aspernatur facilis dolores ab quam aliquid. Officiis.
    </p>
</div>