<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>NODE JS</h1>
        <h2>CRUD - ExpressHandlebars + MySQL</h2>
         <nav>
        <a href="/">home</a>
        <a href="/professores">professores</a>
        <a href="/alunos">alunos</a>
        <a href="/about">about</a>
    </nav>
    </header>
   
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>
            <span class="author">Fernando Alves</span> <br>
            lfalvespe@gmail.com <br>
            &copy 2024
        </p>
    </footer>

</body>
</html>