<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Node JS</h1>
    <h2>Express</h2><hr>
    <h2>Clientes</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, numquam. Aperiam, quibusdam atque quas illo eaque excepturi et enim. Possimus dolore aliquid error, tempore quos quis repudiandae eligendi incidunt magni!
    </p>
    
</body>
</html>