<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
</head>

<body>
    <nav><strong>BARRA DE NAVEGAÇÃO</strong></nav>

    {{{body}}}

    <footer><strong>RODAPÉ</strong></footer>
</body>

</html>