<div class="about">
    <h1>ABOUT</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloremque a praesentium quas consequuntur hic sequi dolores corporis, modi dolor, placeat distinctio error voluptates iure culpa temporibus laudantium maxime corrupti.
        Praesentium molestiae non facere dolore ipsam eligendi expedita dolorem, eos adipisci laboriosam minima quisquam sit nam culpa, omnis at nulla. Aliquam asperiores minima error illum dolores quam consequatur, est corrupti!
        Minima similique labore doloremque laboriosam provident, quaerat asperiores itaque voluptate illo fugit tempore non cum quibusdam ipsa officia fuga laborum impedit ad rerum aliquid suscipit placeat voluptatibus temporibus. Recusandae, voluptas?
    </p>
</div>