<div class="home">
    <h2>ESCOLA PERNAMBUCANA </h2>

    <div class="img">
        <img src="/images/library.jpg" alt="">
    </div>

    <p>
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda recusandae iste nemo. Excepturi natus
        molestias atque. Delectus repudiandae, saepe sapiente veritatis deserunt iste aliquid dolores earum minus, repellendus nobis inventore."
    </p>

</div>