<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefa 04</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>NODE JS</h1>
        <h2>Express Handlebars</h2><hr>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
    {{{body}}}
    <footer>
        <hr>
        <p>
            <strong>Fernando Alves</strong> <br>
            lfalvespr@gmail.com <br>
            &copy; 2024
        </p>
    </footer>
</body>
</html>